<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'createVanPhong','Tạo Văn Phòng')}">
<head>
    <meta charset="UTF-8">
    <title>Tạo Văn Phòng</title>
</head>
<body>
<section>
    <div class="col-xs-12">
        <div class="box">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <!-- Tiêu đề trang -->
                        <h1><a th:href="@{/static}" th:text="${pageTitle}">.</a></h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
            <hr>
            <!-- Form tạo văn phòng -->
            <div class="box-body">
                <form th:action="@{/vanphongs}" th:object="${vanphong}" method="post">
                    <div class="form-group">
                        <label for="name">Tên:</label>
                        <input type="text" id="name" th:field="*{name}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="officeAddress">Địa chỉ văn phòng:</label>
                        <input type="text" id="officeAddress" th:field="*{officeAddress}" class="form-control" />
                    </div>
                    <!-- Button tạo văn phòng -->
                    <button type="submit" class="btn btn-primary">Tạo</button>
                </form>
            </div>
        </div>
        <!-- /.box -->
    </div>
</section>
</body>
</html>
