<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'edit','Cập nhập nhân viên')}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/users/{id}/edit(id=${user.id})}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" th:value="${user.username}" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:value="${user.password}" />
    </div>
    <div>
        <label for="roles">Roles:</label>
        <select id="roles" name="roles">
            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"
                    th:selected="${userRoles.contains(role)}"></option>
        </select>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<div th:if="${message != null}">
    <p th:text="${message}"></p>
</div>
<div th:if="${error != null}">
    <p th:text="${error}"></p>
</div>
</body>
</html>