<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home','Home')}">
<head>
    <!-- Add necessary CSS and JS links here -->

    <!-- Bootstrap CSS link -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS and jQuery links -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<section class="content-header">
    <div class="col-xs-12">
        <div class="box">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1><a th:href="@{/}" th:text="${pageTitle}">.</a></h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
            <hr>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="sticky-top mb-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title text-center"><strong>APPOINTMENT</strong></h4>
                                    </div>
                                    <div class="card-body">
                                        <!-- Button to trigger modal -->
                                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#appointmentModal">
                                            New Appointment
                                        </button>

                                        <a href="/lichlamviec/search" type="button" class="btn btn-primary btn-block">
                                            Search
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-9">
                            <div class="card card-primary">
                                <div class="card-body p-0">
                                    <!-- THE CALENDAR -->
                                    <div id="calendar"></div>
                                    <div id="calendarModal" class="modal fade">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Event Details</h4>

                                                </div>
                                                <div id="modalBody" class="modal-body">
                                                    <form action="#" th:action="@{/lichlamviec/update/}" th:object="${lichlam}" method="post" id="updateForm">
                                                        <div class="form-group">
                                                            <label for="tenCongViec">Appointment Name</label>
                                                            <input type="text" class="form-control" id="tenCongViec_update" value="" th:field="*{tenCongViec}">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="ngayLam">Working Day</label>
                                                            <input type="date" class="form-control" id="ngayLam_update" th:field="*{ngayLam}">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="gioBatDau">Start Time</label>
                                                            <input type="time" class="form-control" id="gioBatDau_update" th:field="*{gioBatDau}" min="08:00" max="17:00">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="gioKetThuc">End Time</label>
                                                            <input type="time" class="form-control" id="gioKetThuc_update" th:field="*{gioKetThuc}" min="08:00" max="17:00">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="vpCT_id_update">Office</label>
                                                            <select class="form-control" id="vpCT_id_update" th:field="*{vpCongTac_id}">
                                                                <option th:each="vanphong : ${vanPhongList}" th:value="${vanphong.id}" th:text="${vanphong.tenVP}"></option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="trangThaiLV_Id_update">Work Status</label>
                                                            <select class="form-control" id="trangThaiLV_Id_update" th:field="*{trangThaiLamViec_Id}">
                                                                <option th:each="trangthai : ${trangThaiList}"  th:value="${trangthai.id}"th:text="${trangthai.tenTrangThai}"></option>
                                                            </select>
                                                        </div>

                                                        <button type="submit" class="btn btn-primary">Save</button>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                                    <a th:href="@{/lichlamviec/delete/}" class="btn btn-danger" id="deleteButton">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
    </div>
    <div class="todo-overlay" id="todo-overlay">
        <!-- Your existing code for todo overlay -->
    </div>
</section>

<!-- Modal for Appointment Form -->
<div class="modal fade" id="appointmentModal" tabindex="-1" role="dialog" aria-labelledby="appointmentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="appointmentModalLabel">New Appointment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/lichlamviec/save}" th:object="${lichlam}" method="post">
                    <div class="form-group">
                        <label for="tenCongViec">Appointment Name</label>
                        <input type="text" class="form-control" id="tenCongViec" th:field="*{tenCongViec}">
                    </div>

                    <div class="form-group">
                        <label for="ngayLam">Working Day</label>
                        <input type="date" class="form-control" id="ngayLam" th:field="*{ngayLam}">
                    </div>

                    <div class="form-group">
                        <label for="gioBatDau">Start Time</label>
                        <input type="time" class="form-control" id="gioBatDau" th:field="*{gioBatDau}" min="08:00" max="17:00">
                    </div>

                    <div class="form-group">
                        <label for="gioKetThuc">End Time</label>
                        <input type="time" class="form-control" id="gioKetThuc" th:field="*{gioKetThuc}" min="08:00" max="17:00">
                    </div>

                    <div class="form-group">
                        <label for="vpCongTac_id">Office</label>
                        <select class="form-control" id="vpCongTac_id" th:field="*{vpCongTac_id}">
                            <option th:each="vanphong : ${vanPhongList}" th:value="${vanphong.id}" th:text="${vanphong.tenVP}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="trangThaiLamViec_Id">Work Status</label>
                        <select class="form-control" id="trangThaiLamViec_Id" th:field="*{trangThaiLamViec_Id}">
                            <option th:each="trangthai : ${trangThaiList}" th:value="${trangthai.id}" th:text="${trangthai.tenTrangThai}"></option>
                        </select>
                    </div>

                    <!-- Move the button inside the form -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        let listLichLam = [[${listLichLam}]];
        console.log(listLichLam);
        var listEvent =[];
        listLichLam.forEach(function(lich){
            let fullTitle=lich.tenCongViec+
                "\n" + lich.gioBatDau + "-" +lich.gioKetThuc +
                "\n" + "TenNV: " + lich.nhanVien.tenNV +
                "\n" + "HQ Name: " +  lich.nhanVien.vpLamViecChinh.diaChi+
                "\n" + "Work Place Name: " + lich.vpCongTac.diaChi+
                "\n" + "Work type: " + lich.trangThai.tenTrangThai;
            let color;
            if(lich.trangThai.id===1){
                color="#EA4215";
            }
            if(lich.trangThai.id===2){
                color="#15BDEA";
            }
            if(lich.trangThai.id===3){
                color="#AC15EA";
            }
            if(lich.trangThai.id===4){
                color="#53EA15";
            }
            var event={
                id:lich.id,
                tenCV:lich.tenCongViec.toString(),
                title:fullTitle ,
                start: lich.ngayLam + "T" + lich.gioBatDau,
                //end: endTime.concat(lich.ngayLam,"T",lich.gioKetThuc,":00:00"),
                end: lich.ngayLam + "T" + lich.gioKetThuc,
                allDay:false,
                display: 'block',
                backgroundColor:color,
                extendedProps: { // Thêm thông tin người dùng
                    nhanVienId: lich.nhanVien.id,
                    hoTen: lich.nhanVien.tenNV,
                    username: lich.nhanVien.username,
                    chucVu: lich.nhanVien.chucvu ? lich.nhanVien.chucvu.tenChucVu : "N/A" ,// Lấy tên chức vụ, kiểm tra null
                    noiCongTac: lich.vpCongTac.tenVP,
                    noiLamViec: lich.nhanVien.vpLamViecChinh ? lich.nhanVien.vpLamViecChinh.tenVP : "N/A",
                    //thêm thông tin ngày tháng
                    ngayLam:lich.ngayLam,
                    gioBatDau:lich.gioBatDau,
                    gioKetThuc:lich.gioKetThuc,
                    vpCongTacId:lich.vpCongTac.id,
                    trangThaiId:lich.trangThai.id,

                }
            };
            listEvent.push(event);
        });

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {

            headerToolbar: { left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,list' }, // buttons for switching between views
            allDaySlot: false,
            slotMinTime: '08:00:00',
            slotMaxTime: '18:00:00',
            firstDay: 1,
            height: 530,
            contentHeight: 200,
            eventTimeFormat: { // like '14:30:00'
                hour: 'numeric',
                minute: '2-digit',
                meridiem: false // Ẩn ký hiệu AM/PM
            },
            views: {
                dayGridMonth: { // name of view
                    titleFormat: { year: 'numeric', month: '2-digit', day: '2-digit' }
                    // other view-specific options here
                },
                timeGridDay: { // name of view
                    titleFormat: { year: 'numeric', month: '2-digit', day: '2-digit',  hour: 'numeric', minute: '2-digit', }
                    // other view-specific options here
                },
                timeGridWeek: {
                    type: 'timeGridWeek',
                    slotDuration: '24:00:00', // Đặt khoảng thời gian của mỗi slot là 24h

                    slotLabelFormat: [
                        {
                            text: '', // Không hiển thị giờ
                        },
                        { weekday: 'short' } // Chỉ hiển thị thứ
                    ]
                }
            },
            events: listEvent,
            eventClick:  function(arg) {
                console.log(arg);
                var title=arg.event._def.extendedProps.tenCV;
                var ngay=arg.event._def.extendedProps.ngayLam;
                var giobd=arg.event._def.extendedProps.gioBatDau;
                var giokt=arg.event._def.extendedProps.gioKetThuc;
                var vanPhongCTId=arg.event._def.extendedProps.vpCongTacId;
                var trangThaiId=arg.event._def.extendedProps.trangThaiId;

                var lichId=arg.event._def.publicId;
                var updateLink=$('#updateForm').attr('action') + lichId;
                $('#updateForm').attr('action',updateLink);

                var deleteLink=$('#deleteButton').attr('href')+ lichId;
                $('#deleteButton').attr('href',deleteLink);
                // endtime = $.fullCalendar.moment(event.end).format('h:mm');
                // starttime = $.fullCalendar.moment(event.start).format('dddd, MMMM Do YYYY, h:mm');
                // var mywhen = starttime + ' - ' + endtime;
                $('#tenCongViec_update').val(title);
                $('#ngayLam_update').val(ngay);
                $('#gioBatDau_update').val(giobd);
                $('#gioKetThuc_update').val(giokt);
                $('#vpCT_id_update').val(vanPhongCTId.toString());
                $('#trangThaiLV_Id_update').val(trangThaiId.toString());
                //$('#ngayLam').val(title);
                $('#calendarModal').modal();
            },
        });
        calendar.render();
    });
</script>
</body>

</html>