<th:block th:fragment="navlinks(activeLink)">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block" th:classappend="${activeLink} == 'home' ? 'active':''">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block" th:classappend="${activeLink} == 'appointments' ? 'active':''">
                <a class="nav-link" th:href="@{/appointments/all}">Appointments</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block" th:classappend="${activeLink} == 'works' ? 'active':''">
                <a class="nav-link" th:href="@{/works/all}">Works</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block" th:classappend="${activeLink} == 'providers' ? 'active':''">
                <a class="nav-link" th:href="@{/providers/all}">Providers</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block" th:classappend="${activeLink} == 'customers' ? 'active':''">
                <a class="nav-link" th:href="@{/customers/all}">Customers</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block" th:classappend="${activeLink} == 'invoices' ? 'active':''">
                <a class="nav-link" th:href="@{/invoices/all}">Invoices</a>
            </li>
        </ul>

</th:block>